In [37]:
import pandas as pd
from scipy import stats
from vaderSentiment import vaderSentiment

In [4]:
df = pd.read_csv('../../dat/scored_comments.csv')
df.head()

,comment,author,date,score
0,1:11 amazing how missing features that previou...,Ivan Galvagno,2022-05-12T13:06:58Z,0.129
1,How tf they managed to screw this up?,Rbarzevedo,2022-05-12T12:35:43Z,0.167
2,Still a weird choice to put a remix of kicksta...,Some Turkey Nuts,2022-05-11T21:27:56Z,0.090
3,Im still waiting for the full game to come out.,Dozer,2022-05-11T13:57:38Z,0.000
4,My dads generation had Bad Company. \nMy gener...,Leadkiss,2022-05-11T12:21:19Z,0.280

In [9]:
comment = df.iloc[3, 0]

print(comment)

Im still waiting for the full game to come out.

In [31]:
words = [word for word in comment.split(' ')]

words

['Im', 'still', 'waiting', 'for', 'the', 'full', 'game', 'to', 'come', 'out.']

In [36]:
t = pd.DataFrame(data=[words], columns=words)
t.concat()

   Im  still  waiting  for  the  full  game  to  come  out.
0  Im  still  waiting  for  the  full  game  to  come  out.

In [32]:

for i, word in enumerate(words):
    mod = words[i:]
    mod.remove(word)
    print(words[:i] + mod)

['still', 'waiting', 'for', 'the', 'full', 'game', 'to', 'come', 'out.']
['Im', 'waiting', 'for', 'the', 'full', 'game', 'to', 'come', 'out.']
['Im', 'still', 'for', 'the', 'full', 'game', 'to', 'come', 'out.']
['Im', 'still', 'waiting', 'the', 'full', 'game', 'to', 'come', 'out.']
['Im', 'still', 'waiting', 'for', 'full', 'game', 'to', 'come', 'out.']
['Im', 'still', 'waiting', 'for', 'the', 'game', 'to', 'come', 'out.']
['Im', 'still', 'waiting', 'for', 'the', 'full', 'to', 'come', 'out.']
['Im', 'still', 'waiting', 'for', 'the', 'full', 'game', 'come', 'out.']
['Im', 'still', 'waiting', 'for', 'the', 'full', 'game', 'to', 'out.']
['Im', 'still', 'waiting', 'for', 'the', 'full', 'game', 'to', 'come']

In [30]:
words.replace('still', 'pepe')

AttributeError: 'list' object has no attribute 'replace'